/*Header starts here*/
.navbar{
	font-weight: 400!important;
	background-color: rgba(221,221,221,0.4)
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
	color: #000;
	font-size: 18px;
}
@media (max-width: 1200px){
.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
	font-size: 16px;
}
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.collapse ul li a{
	border-bottom: 2px solid transparent;
}
.collapse ul li:hover a{
	color: purple!important;
	border-bottom: 2px solid purple;
}
.main-nav-scrolled {
	background-color: #ddd;
	transition: all 0.5s;
}
.main-nav {
	transition: all 0.5s;
}
/*Header ends here*/