/*What section starts here*/
#what{
  padding: 100px 0;
}
#what img{
  margin: 20px 0;
}
#what span{
  font-size: 2.5rem;
  color: #b19261;
}
.icon{
  background-color: #F2F4F8;
  padding: 15px 0 15px 25px;
}
.icon i{
  color: #b19261;
}
.box{
  border: 1px solid gray;
  padding: 3rem;
}
.ga{
  padding: 5rem 0;
}
form{
  background-color: rgba(177,146,97,0.6);
  margin-top: 5rem;
  padding: 1rem;
}
/*What section ends here*/
/*Footer starts here*/
.bg-dark {
    background-color: #343a40!important;
}
/*Footer ends here*/