#room {
  padding: 100px 0;
}

#room h2 {
  margin-bottom: 50px;
  font-weight: 400;
}

#room h4 {
  margin-top: 100px;
  font-weight: 400;
  color: #0297FF;
  font-size: 50px;
}

.ma {
  margin: 15px 0;
}