*{
	margin: 0;
	padding: 0;
	font-family: 'Berkshire Swash', cursive;
}

@import 'header';

@import 'room-service';

@import 'our-team';

@import 'footer';

@import 'contact';

@import 'register';

@import 'restaurant';

@import 'room';

@import 'room1';

@import 'service';

@import 'user';
